@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Red+Hat+Display:wght@400;700;900&display=swap");
html {
  height: 100%; }

html, body {
  font-family: 'Inter', sans-serif !important; }

.overlay .overlay-container {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 110px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.4);
  z-index: 998;
  transform: rotateX(35deg);
  transition: all 0.3s;
  opacity: 0; }
  .overlay .overlay-container.in {
    top: 80px;
    transform: rotateX(0);
    opacity: 1; }
.overlay .overlay-bg {
  z-index: 997;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: transparent;
  transition: all 0.3s; }
  .overlay .overlay-bg.in {
    background-color: rgba(0, 0, 0, 0.7); }

.rhd {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  color: #000; }
  .rhd.bold {
    font-weight: 700; }
  .rhd.bolder {
    font-weight: 900; }

.text-bold {
  font-weight: 600 !important; }

.upload-favicon {
  background: #1957f7;
  border: 1px solid transparent;
  box-shadow: none;
  border-radius: 100px;
  color: #FFF;
  padding: 12px 20px;
  font-weight: 600; }
  .upload-favicon:hover, .upload-favicon:focus, .upload-favicon:active {
    background: #083fcc !important;
    border-color: transparent !important;
    box-shadow: none; }

.nav-link:hover {
  background-color: #f6f7f8;
  border-radius: 100px; }

.customURL {
  padding: 12px 20px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  width: 400px;
  background: #FFFFFF;
  border: 1px solid #C7CBD1;
  box-shadow: 0 0 0 3px #F4F6F9;
  border-radius: 100px; }

.browser p {
  color: #000;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4); }

.browser-dark p {
  color: #fff;
  text-shadow: 1px 1px 0 black; }

.chrome-default {
  background-color: #FFF; }

.chrome-hover {
  background-color: #f6f7f8; }

.chrome-inactive {
  background-color: #e7eaed; }

.chrome-default-dark {
  background-color: #36363a; }

.chrome-hover-dark {
  background-color: #2e2e32; }

.chrome-inactive-dark {
  background-color: #202123; }

.safari-default {
  background-color: #d1d1d1; }

.safari-hover {
  background-color: #bbbbbb; }

.safari-inactive {
  background-color: #c3c3c2; }

.safari-default-dark {
  background-color: #303133; }

.safari-hover-dark {
  background-color: #282a2b; }

.safari-inactive-dark {
  background-color: #1a1c1c; }

.firefox-default {
  background-color: #f5f6f7; }

.firefox-hover {
  background-color: #bcbfc4; }

.firefox-inactive {
  background-color: #e0e2e4; }

.firefox-default-light {
  background-color: #f6f7f8; }

.firefox-hover-light {
  background-color: #cecfd1; }

.firefox-inactive-light {
  background-color: #e2e4e6; }

.firefox-default-dark {
  background-color: #323234; }

.firefox-hover-dark {
  background-color: #252526; }

.firefox-inactive-dark {
  background-color: #0d0d0d; }
